/*GLOBAL*/
* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

/*=======*/

/*HEADER*/
.nav .links-nav ul {
    font-size: 20px;
     display: flex;
    justify-content: flex-end; 
    list-style: none;
}

.nav .links-nav ul li {
    display: inline;
}

.nav .links-nav ul li a {
    padding: 20px;
    text-decoration: none;
    margin: 20px;
}

.nav{
    position: relative;
}

.links-nav{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: flex-end;
    right: 0;
}

.logo {
    background-color: blueviolet;
}

ul li {
    background-color: chocolate;
}

.nav {
    background-color: aqua;
    height: 9vh;
}

header {
    background-color: darkgray;
    width: 100%;
    height: 10vh;
}

/*FIN HEADER*/


.padre {
    position: relative;
    height: 300px;
    background-color: chartreuse;
}

.hijo {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}